{# app/Resources/views/form/fields.html.twig #}



{% block datetime_row %}
    {% spaceless %}

        <div class="form_row" style="color:PURPLE">
            {{ form_widget(form) }}
            {{ form_label(form) }}
        </div>
    {% endspaceless %}
{% endblock  %}

{% block text_row %}
    {% spaceless %}
        <div class="form_row" style="color:PURPLE">
            {{ form_widget(form) }}
            {{ form_label(form) }}
        </div>
    {% endspaceless %}
{% endblock  %}